body{
    margin:0;
    background: linear-gradient(to left, lightblue,lightgreen);
    font-family: Arial, Helvetica, sans-serif;

}
.heading{
    color: darkblue;
    text-align: center;
    padding-top: 10px;
    font-size: 35px;
}
.info-text{
    text-align: center;
    color: darkblue;
    font-size: 18px;
}
